
.box {
    margin: 2.5% 20% 2.5% 20%;
    padding: 1%;
    border: 3px double black;

    background-color: white;
}

p {
    margin-left: 3.5%;
    margin-right: 3.5%;
}

a {
	margin: 3.5%;
}

a.email {
	margin: 0%;
}

pre {
    margin-left: 10%;
    margin-right: 10%;
}

.audio {
    margin-left: 1.5%;
}

.transcription pre {
    padding: 0.5%;
    border: 1px solid rgb(90, 90, 90);
}

.transcription_text {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5%;
	border: 1px solid rgb(90, 90, 90);
	font-family: monospace;
}

.button {
	margin-top: 3.5%;
}

* {
    background-color: darkgray;
}

.box * {
    background-color: white;
}
