body {
	margin: 2%;

	max-width: 805px;

	font-size: 16px;
}

.box {
	margin: 2% 1%;
}

fieldset {
	margin: 2% 5%;
	padding: auto;
}

fieldset.table {
	margin: 2% 1%;
	padding: auto;
	width: 340px;
}

footer {
	margin: 2%;
}

.footer-text {
	color:rgb(64, 64, 64);
	text-align: center;
}

html {
	
}

pre {
	white-space: pre-wrap;
}

pre.hint {
	margin: 4px 0;
}

.label-box {
	margin: 0 5%;
	padding: auto;

	font-size: 14px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.label {
	min-width: 24px;
	height: 16px;

	background-color: rgb(0,0,0);
	color: white;

	margin: 0.5% 0.75%;
	padding: 0.5% 1%;

	border-style: solid;
	border-radius: 16px;
	border-width: 2px;
	
	display: inline-block;
}

.label-name {
	margin: 0;

	color: inherit;
}

.label:hover {
	background-color: white;
	color: black;

	cursor: pointer;
}

#filter-table {
	border-collapse: collapse;
	border: hidden;
}

#table-header {
}

#id-filter {
	min-width: 32px;
}

#title-filter {
	min-width: 384px;
}

.row-filter {
	border: 1px solid rgb(64, 64, 64);
}
